workflows/01-lead-qualification.json
{
  "name": "01 — Lead Qualification",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "38deb5c6-6219-4621-ba01-2b99fc183df7",
      "name": "Webhook",
      "webhookId": "b6df1595-52e6-45d2-be30-6eb222c34ce8"
    },
    {
      "parameters": {
        "jsCode": "const crypto = require('crypto');\nconst secret = $env.WEBHOOK_HMAC_SECRET;\nconst signature = $json.headers['x-signature'];\nconst body = JSON.stringify($json.body);\n\n// Verify HMAC without throwing: a forged/missing signature must return a clean\n// 401 (handled downstream by the Auth OK IF + Respond 401 node) and must NOT\n// route to the error workflow — that would page #autostream-errors on every\n// bad request, a noise/DoS vector once the endpoint is public.\nlet authValid = false;\ntry {\n  if (signature) {\n    const expected = crypto\n      .createHmac('sha256', secret)\n      .update(body)\n      .digest('hex');\n    const sigBuf = Buffer.from(signature, 'hex');\n    const expBuf = Buffer.from(expected, 'hex');\n    if (sigBuf.length === expBuf.length && crypto.timingSafeEqual(sigBuf, expBuf)) {\n      authValid = true;\n    }\n  }\n} catch (e) {\n  authValid = false;\n}\n\nreturn { ...$json.body, _authValid: authValid, _ts_start: Date.now() };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "645b8166-6c1c-4a1e-9d00-5e8b8d9e6197",
      "name": "Verify HMAC"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a1f0c2e4-7b3d-4c9a-8e21-1f2a3b4c5d6e",
              "leftValue": "={{ $json._authValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        200
      ],
      "id": "7c1d2e3f-4a5b-6c7d-8e9f-0a1b2c3d4e5f",
      "name": "Auth OK"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"unauthorized\"\n}",
        "options": {
          "responseCode": 401
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        320
      ],
      "id": "8d2e3f4a-5b6c-7d8e-9f0a-1b2c3d4e5f60",
      "name": "Respond 401"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"accepted\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        440,
        100
      ],
      "id": "9e3f4a5b-6c7d-8e9f-0a1b-2c3d4e5f6071",
      "name": "Respond 200"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-haiku-4-5"
            },
            {
              "name": "max_tokens",
              "value": "={{ 512 }}"
            },
            {
              "name": "system",
              "value": "You are a B2B-SaaS lead qualifier. Score the inbound lead 0-100 on fit, intent, and urgency.  Return ONLY a valid JSON object. No markdown. No explanation. No code fences. No preamble. Just raw JSON.  The JSON must have this exact structure: {\"score\": <number 0-100>, \"fit\": \"low\"|\"medium\"|\"high\", \"intent\": \"research\"|\"evaluate\"|\"buy\", \"urgency\": \"low\"|\"medium\"|\"high\", \"reasoning\": \"<one sentence>\"}  CRITICAL: Your entire response must be parseable by JSON.parse(). Do not include backticks, headers, tables, or any text outside the JSON object. Start with { and end with }."
            },
            {
              "name": "messages",
              "value": "={{[{role: \"user\", content: JSON.stringify($json)}]}}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "b0de3cec-68fb-4733-bfce-5b07b10eb399",
      "name": "Anthropic — Score Lead",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.content?.[0]?.text || '';\n\n// Strip markdown code fences if present\nlet cleaned = text.replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/, '').trim();\n\n// Extract JSON object from anywhere in the response (resilient to extra markdown)\nconst jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\nif (jsonMatch) {\n  cleaned = jsonMatch[0];\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(cleaned);\n} catch (e) {\n  throw new Error('Non-JSON from Claude: ' + text.slice(0, 200));\n}\n\nif (typeof parsed.score !== 'number') throw new Error('Missing or invalid score field');\nif (!['low','medium','high'].includes(parsed.fit)) throw new Error('Invalid fit value: ' + parsed.fit);\nif (!['research','evaluate','buy'].includes(parsed.intent)) throw new Error('Invalid intent value: ' + parsed.intent);\nif (!['low','medium','high'].includes(parsed.urgency)) throw new Error('Invalid urgency value: ' + parsed.urgency);\n\nreturn { parsed: parsed, raw_response: response, model: response.model, usage: response.usage };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "60464fb5-33cd-45cb-9fa1-b377273e84f7",
      "name": "Validate Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "640e94a6-f66d-4bd1-a32f-cef2607a486b",
              "leftValue": "={{ $json.parsed.score }}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ],
      "id": "56cbd5a2-e6eb-4de3-bd0c-4218d79c7cd5",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "=🎯 Qualified lead — score {{ $json.parsed.score }}"
            },
            {
              "name": "username",
              "value": "AutoStream"
            },
            {
              "name": "icon_emoji",
              "value": ":dart:"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        -100
      ],
      "id": "d3f326a7-17c5-4991-a230-446f641ce731",
      "name": "Slack — Qualified Lead",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "llm_calls",
          "mode": "list",
          "cachedResultName": "llm_calls"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_id": "lead-qualification",
            "workflow_run_id": "={{ $execution.id }}",
            "model": "={{ $('Validate Output').first().json.model }}",
            "duration_ms": "={{ Date.now() - $('Verify HMAC').first().json._ts_start }}",
            "cost_usd": "={{ ($('Validate Output').first().json.usage.input_tokens + $('Validate Output').first().json.usage.output_tokens * 5) / 1000000 }}",
            "prompt_tokens": "={{ $('Validate Output').first().json.usage.input_tokens }}",
            "output_tokens": "={{ $('Validate Output').first().json.usage.output_tokens }}",
            "input": "={{ JSON.stringify($('Webhook').first().json.body) }}",
            "output": "={{ JSON.stringify($('Validate Output').first().json.parsed) }}",
            "status": "ok"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "workflow_run_id",
              "displayName": "workflow_run_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "model",
              "displayName": "model",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "prompt_tokens",
              "displayName": "prompt_tokens",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "output_tokens",
              "displayName": "output_tokens",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "duration_ms",
              "displayName": "duration_ms",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "cost_usd",
              "displayName": "cost_usd",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "input",
              "displayName": "input",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        880,
        240
      ],
      "id": "b50afe4f-4bef-4881-bfc6-4a6a1f808456",
      "name": "Supabase — Insert llm_calls",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "phKvVxQaTPlJPNdT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "workflow_runs",
          "mode": "list",
          "cachedResultName": "workflow_runs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow_id": "lead-qualification",
            "status": "ok",
            "duration_ms": "={{ Date.now() - $('Verify HMAC').first().json._ts_start }}",
            "started_at": "={{ new Date($('Verify HMAC').first().json._ts_start).toISOString() }}",
            "ended_at": "={{ new Date().toISOString() }}",
            "meta": "={{ JSON.stringify({ score: $('Validate Output').first().json.parsed.score, fit: $('Validate Output').first().json.parsed.fit, intent: $('Validate Output').first().json.parsed.intent, urgency: $('Validate Output').first().json.parsed.urgency }) }}",
            "id": "={{ $execution.id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": true,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "workflow_id",
              "displayName": "workflow_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "duration_ms",
              "displayName": "duration_ms",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "started_at",
              "displayName": "started_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "ended_at",
              "displayName": "ended_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "meta",
              "displayName": "meta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1100,
        240
      ],
      "id": "cb5afe75-21f1-4542-b6c2-4332b083adb6",
      "name": "Supabase — Insert workflow_runs",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "credentials": {
        "postgres": {
          "id": "phKvVxQaTPlJPNdT",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC": {
      "main": [
        [
          {
            "node": "Auth OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auth OK": {
      "main": [
        [
          {
            "node": "Respond 200",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 401",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond 200": {
      "main": [
        [
          {
            "node": "Anthropic — Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic — Score Lead": {
      "main": [
        [
          {
            "node": "Validate Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Output": {
      "main": [
        [
          {
            "node": "Supabase — Insert llm_calls",
            "type": "main",
            "index": 0
          },
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Slack — Qualified Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack — Qualified Lead": {
      "main": [
        []
      ]
    },
    "Supabase — Insert llm_calls": {
      "main": [
        [
          {
            "node": "Supabase — Insert workflow_runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
  },
  "tags": []
}
