workflows/01-lead-qualification.json
{
  "name": "01 \u2014 Lead Qualification",
  "active": false,
  "nodes": [
    {
      "id": "node-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "lead",
        "responseMode": "lastNode",
        "options": {
          "rawBody": true
        }
      },
      "notes": "POST /webhook/lead \u2014 HMAC-signed via X-Signature header.",
      "webhookId": "4ff631e0-98d8-4c02-9765-f791f96b38ef"
    },
    {
      "id": "node-hmac",
      "name": "Verify HMAC",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "functionCode": "const crypto = require('crypto');\nconst secret = $env.WEBHOOK_HMAC_SECRET;\nconst signature = $json.headers['x-signature'];\nconst body = JSON.stringify($json.body);\nconst expected = crypto.createHmac('sha256', secret).update(body).digest('hex');\nif (!signature || signature.length !== expected.length || !crypto.timingSafeEqual(Buffer.from(signature), Buffer.from(expected))) {\n  throw new Error('Invalid HMAC signature');\n}\nreturn $input.all();"
      },
      "notes": "Constant-time HMAC verification. Throws on mismatch \u2192 error workflow."
    },
    {
      "id": "node-anthropic",
      "name": "Anthropic \u2014 Score Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"model\":\"claude-haiku-4-5\",\"max_tokens\":512,\"system\":[{\"type\":\"text\",\"text\":\"You are a B2B-SaaS lead qualifier. Score the inbound lead on fit (low|medium|high), intent (research|evaluate|buy), and urgency (low|medium|high), and produce a 1-2 sentence rationale. Output JSON only matching: {score: 0-100, fit, intent, urgency, rationale}. No prose, no markdown fence.\",\"cache_control\":{\"type\":\"ephemeral\"}}],\"messages\":[{\"role\":\"user\",\"content\":{{JSON.stringify(JSON.stringify($json))}}}]}",
        "options": {
          "timeout": 30000
        },
        "specifyBody": "json"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "notes": "Haiku 4.5 \u2014 routing decision, latency-sensitive. System prompt is cached."
    },
    {
      "id": "node-validate",
      "name": "Validate Output",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "parameters": {
        "functionCode": "const responseText = $json.content?.[0]?.text;\nconst cleaned = (responseText || '').replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/, '').trim();\nlet output;\ntry { output = JSON.parse(cleaned); } catch (e) { throw new Error('Non-JSON from Claude: ' + (responseText||'').slice(0,200)); }\nconst schema = {\n  score:     v => typeof v === 'number' && Number.isInteger(v) && v >= 0 && v <= 100,\n  fit:       v => ['low','medium','high'].includes(v),\n  intent:    v => ['research','evaluate','buy'].includes(v),\n  urgency:   v => ['low','medium','high'].includes(v),\n  rationale: v => typeof v === 'string' && v.length >= 10 && v.length <= 500,\n};\nfor (const [field, check] of Object.entries(schema)) {\n  if (!check(output[field])) throw new Error('schema mismatch: ' + field + ' = ' + JSON.stringify(output[field]));\n}\nconst pricing = { 'claude-haiku-4-5': {i:1.0,o:5.0}, 'claude-opus-4-7': {i:15.0,o:75.0} };\nconst p = pricing[$json.model] || pricing['claude-haiku-4-5'];\nconst cost = ($json.usage.input_tokens * p.i + $json.usage.output_tokens * p.o) / 1_000_000;\nreturn [{ json: { parsed: output, usage: $json.usage, model: $json.model, cost_usd: cost, original: $node['Verify HMAC'].json } }];"
      },
      "notes": "Zod-equivalent strict validation + client-side cost calc."
    },
    {
      "id": "node-if-threshold",
      "name": "Score \u2265 70?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{$json.parsed.score}}",
              "rightValue": 70,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ]
        }
      },
      "notes": "Threshold gates Slack alert. All leads still log to llm_calls."
    },
    {
      "id": "node-slack",
      "name": "Slack \u2014 Qualified Lead",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        200
      ],
      "parameters": {
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "method": "POST",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"blocks\":[{\"type\":\"header\",\"text\":{\"type\":\"plain_text\",\"text\":\"\ud83c\udfaf Qualified lead \u2014 score \"+$json.parsed.score}},{\"type\":\"section\",\"fields\":[{\"type\":\"mrkdwn\",\"text\":\"*Intent*\\n\"+$json.parsed.intent},{\"type\":\"mrkdwn\",\"text\":\"*Fit*\\n\"+$json.parsed.fit},{\"type\":\"mrkdwn\",\"text\":\"*Urgency*\\n\"+$json.parsed.urgency}]},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Rationale*\\n\"+$json.parsed.rationale}},{\"type\":\"context\",\"elements\":[{\"type\":\"mrkdwn\",\"text\":\"workflow_run_id: `\"+$execution.id+\"`\"}]}]}",
        "specifyBody": "json"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "id": "node-log-llm",
      "name": "Supabase \u2014 Insert llm_calls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        400
      ],
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/llm_calls",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"workflow_id\":\"lead-qualification\",\"workflow_run_id\":\"\"+$execution.id,\"model\":$json.model,\"prompt_tokens\":$json.usage.input_tokens,\"output_tokens\":$json.usage.output_tokens,\"duration_ms\":Math.max(1,Date.now()-$execution.startedAt),\"cost_usd\":$json.cost_usd,\"input\":$json.original,\"output\":$json.parsed,\"status\":\"ok\"}",
        "specifyBody": "json"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "id": "node-log-run",
      "name": "Supabase \u2014 Insert workflow_runs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        400
      ],
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/workflow_runs",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"id\":\"\"+$execution.id,\"workflow_id\":\"lead-qualification\",\"status\":\"ok\",\"duration_ms\":Math.max(1,Date.now()-$execution.startedAt),\"started_at\":new Date($execution.startedAt).toISOString(),\"ended_at\":new Date().toISOString(),\"meta\":{}}",
        "specifyBody": "json"
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify HMAC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify HMAC": {
      "main": [
        [
          {
            "node": "Anthropic \u2014 Score Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic \u2014 Score Lead": {
      "main": [
        [
          {
            "node": "Validate Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Output": {
      "main": [
        [
          {
            "node": "Score \u2265 70?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase \u2014 Insert llm_calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score \u2265 70?": {
      "main": [
        [
          {
            "node": "Slack \u2014 Qualified Lead",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Supabase \u2014 Insert llm_calls": {
      "main": [
        [
          {
            "node": "Supabase \u2014 Insert workflow_runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "autostream",
    "lead-qualification"
  ]
}
