workflows/02-daily-content-brief.json
{
  "name": "02 — Daily Content Brief",
  "active": false,
  "nodes": [
    {
      "id": "node-cron",
      "name": "Cron 09:00 PKT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300],
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }]
        }
      },
      "notes": "09:00 daily in TIMEZONE env (Asia/Karachi by default)."
    },
    {
      "id": "node-split-feeds",
      "name": "Split RSS_FEEDS",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300],
      "parameters": {
        "jsCode": "const feeds = ($env.RSS_FEEDS || '').split(',').map(s => s.trim()).filter(Boolean);\nreturn feeds.map(url => ({ json: { feed_url: url } }));"
      },
      "notes": "Comma-separated env → one item per feed URL."
    },
    {
      "id": "node-batch",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [640, 300],
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "id": "node-rss",
      "name": "RSS Feed Read",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [860, 300],
      "parameters": {
        "url": "={{$json.feed_url}}",
        "options": {}
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "id": "node-normalize",
      "name": "Normalize Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300],
      "parameters": {
        "jsCode": "const cutoff = Date.now() - 24 * 3600 * 1000;\nreturn items\n  .map(i => ({\n    json: {\n      guid: i.json.guid || i.json.id || i.json.link,\n      title: i.json.title,\n      link: i.json.link,\n      pubDate: i.json.pubDate || i.json.isoDate || i.json.published,\n      source: i.json.feed_url || '',\n      snippet: (i.json.contentSnippet || i.json.summary || '').slice(0, 500)\n    }\n  }))\n  .filter(i => i.json.guid && i.json.title && new Date(i.json.pubDate).getTime() >= cutoff);"
      }
    },
    {
      "id": "node-merge",
      "name": "Aggregate Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300],
      "parameters": {
        "jsCode": "// Sort by pubDate desc, cap to top 50 for Claude budget\nconst sorted = items.sort((a, b) => new Date(b.json.pubDate) - new Date(a.json.pubDate));\nreturn sorted.slice(0, 50);"
      }
    },
    {
      "id": "node-anthropic",
      "name": "Anthropic — Critic Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 300],
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}" },
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"model\":\"claude-opus-4-7\",\"max_tokens\":2048,\"system\":[{\"type\":\"text\",\"text\":\"You are a critic selecting the 3 most consequential items from a list of recent articles. Output JSON only: {items:[{title,url,source,why_it_matters}],synthesis:'150-200 word paragraph tying them together'}. Reject items that don't earn their slot — better to return 2 strong items than 3 mediocre ones.\",\"cache_control\":{\"type\":\"ephemeral\"}}],\"messages\":[{\"role\":\"user\",\"content\":\"Today's candidates:\\n\"+JSON.stringify($input.all().map(i=>i.json))}]}",
        "options": { "timeout": 60000 }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 2000,
      "notes": "Opus 4.7 — synthesis quality compounds (ADR 0006)."
    },
    {
      "id": "node-validate",
      "name": "Validate Brief",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1740, 300],
      "parameters": {
        "functionCode": "const responseText = $json.content?.[0]?.text;\nlet output;\ntry { output = JSON.parse(responseText); } catch (e) { throw new Error('Non-JSON from Claude: ' + (responseText||'').slice(0,200)); }\nif (!Array.isArray(output.items) || output.items.length < 1 || output.items.length > 5) throw new Error('items must be 1-5 long');\nfor (const it of output.items) {\n  if (!it.title || !it.url || !it.source || !it.why_it_matters) throw new Error('item missing required fields: ' + JSON.stringify(it));\n}\nif (typeof output.synthesis !== 'string' || output.synthesis.length < 100 || output.synthesis.length > 1500) throw new Error('synthesis length out of bounds');\nconst pricing = { 'claude-haiku-4-5':{i:1.0,o:5.0}, 'claude-opus-4-7':{i:15.0,o:75.0} };\nconst p = pricing[$json.model] || pricing['claude-opus-4-7'];\nconst cost = ($json.usage.input_tokens*p.i + $json.usage.output_tokens*p.o) / 1_000_000;\nreturn [{ json: { parsed: output, usage: $json.usage, model: $json.model, cost_usd: cost } }];"
      }
    },
    {
      "id": "node-slack",
      "name": "Slack — Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 200],
      "parameters": {
        "url": "={{$env.SLACK_WEBHOOK_URL}}",
        "method": "POST",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"blocks\":[{\"type\":\"header\",\"text\":{\"type\":\"plain_text\",\"text\":\"📰 Daily brief\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":$json.parsed.synthesis}},{\"type\":\"divider\"},...$json.parsed.items.map(it => ({\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*<\"+it.url+\"|\"+it.title+\">* · \"+it.source+\"\\n\"+it.why_it_matters}}))]}"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "id": "node-log-llm",
      "name": "Supabase — Insert llm_calls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1960, 400],
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/llm_calls",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "content-type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\"workflow_id\":\"daily-content-brief\",\"workflow_run_id\":\"\"+$execution.id,\"model\":$json.model,\"prompt_tokens\":$json.usage.input_tokens,\"output_tokens\":$json.usage.output_tokens,\"duration_ms\":Math.max(1,Date.now()-$execution.startedAt),\"cost_usd\":$json.cost_usd,\"input\":{\"feed_count\":($env.RSS_FEEDS||'').split(',').length},\"output\":$json.parsed,\"status\":\"ok\"}"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "id": "node-archive",
      "name": "Supabase — Archive Briefs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2180, 400],
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/content_briefs",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "content-type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal,resolution=ignore-duplicates" }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ $json.parsed.items.map(it => ({ guid: it.url, title: it.title, link: it.url, source: it.source, selected: true })) }}"
      }
    }
  ],
  "connections": {
    "Cron 09:00 PKT":                { "main": [[{ "node": "Split RSS_FEEDS", "type": "main", "index": 0 }]] },
    "Split RSS_FEEDS":               { "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]] },
    "Split In Batches":              { "main": [[{ "node": "RSS Feed Read", "type": "main", "index": 0 }]] },
    "RSS Feed Read":                 { "main": [[{ "node": "Normalize Items", "type": "main", "index": 0 }]] },
    "Normalize Items":               { "main": [[{ "node": "Split In Batches", "type": "main", "index": 0 }]] },
    "Aggregate Items":               { "main": [[{ "node": "Anthropic — Critic Brief", "type": "main", "index": 0 }]] },
    "Anthropic — Critic Brief":      { "main": [[{ "node": "Validate Brief", "type": "main", "index": 0 }]] },
    "Validate Brief":                { "main": [[{ "node": "Slack — Brief", "type": "main", "index": 0 }, { "node": "Supabase — Insert llm_calls", "type": "main", "index": 0 }]] },
    "Supabase — Insert llm_calls":   { "main": [[{ "node": "Supabase — Archive Briefs", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "error-handler",
    "timezone": "Asia/Karachi"
  },
  "tags": ["autostream", "daily-content-brief"]
}
