workflows/03-email-classification.json
{
  "name": "03 — Email Classification",
  "active": true,
  "nodes": [
    {
      "id": "node-imap",
      "name": "IMAP — Poll Inbox",
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "parameters": {
        "mailbox": "INBOX",
        "downloadAttachments": false,
        "format": "simple",
        "options": {
          "forceReconnect": 30,
          "allowUnauthorizedCerts": false
        },
        "postProcessAction": "nothing"
      },
      "notes": "5-min polling cadence (set in workflow settings). DO NOT auto-mark-seen — done after success path completes.",
      "credentials": {
        "imap": {
          "id": "picFioLfY0CnoSnT",
          "name": "IMAP account"
        }
      }
    },
    {
      "id": "node-clean",
      "name": "Clean Body",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        420,
        300
      ],
      "parameters": {
        "functionCode": "const raw = $json.text || ($json.html || '').replace(/<[^>]+>/g, '').replace(/\\s+/g, ' ').trim();\nconst body = raw.slice(0, 8000);\nreturn [{ json: { uid: $json.uid, messageId: $json.messageId, from: $json.from?.text || $json.from, subject: $json.subject, body_clean: body, body_truncated: raw.length > 8000, _ts_start: Date.now() } }];"
      }
    },
    {
      "id": "node-anthropic",
      "name": "Anthropic — Classify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        300
      ],
      "parameters": {
        "url": "https://api.anthropic.com/v1/messages",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.ANTHROPIC_API_KEY}}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({ model: \"claude-haiku-4-5\", max_tokens: 256, system: [{ type: \"text\", text: \"You categorize incoming email into one of: sales, support, recruiting, billing, other. Also extract urgency (low|medium|high) and confidence (0-1). Output JSON only: {category, urgency, confidence, summary}. The summary is one sentence describing what the sender wants. No prose, no markdown fence.\", cache_control: { type: \"ephemeral\" } }], messages: [{ role: \"user\", content: \"Subject: \" + $json.subject + \"\\nFrom: \" + $json.from + \"\\n\\n\" + $json.body_clean }] }) }}",
        "options": {
          "timeout": 30000
        },
        "specifyBody": "json"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "id": "node-validate",
      "name": "Validate Classification",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        860,
        300
      ],
      "parameters": {
        "functionCode": "const responseText = $json.content?.[0]?.text;\nconst cleaned = (responseText || '').replace(/^```(?:json)?\\s*/i, '').replace(/```\\s*$/, '').trim();\nlet output;\ntry { output = JSON.parse(cleaned); } catch (e) { throw new Error('Non-JSON from Claude: ' + (responseText||'').slice(0,200)); }\nconst schema = {\n  category:   v => ['sales','support','recruiting','billing','other'].includes(v),\n  urgency:    v => ['low','medium','high'].includes(v),\n  confidence: v => typeof v === 'number' && v >= 0 && v <= 1,\n  summary:    v => typeof v === 'string' && v.length >= 5 && v.length <= 500,\n};\nfor (const [field, check] of Object.entries(schema)) {\n  if (!check(output[field])) throw new Error('schema mismatch: ' + field + ' = ' + JSON.stringify(output[field]));\n}\n// Confidence floor — route low-confidence to 'other' regardless of category\nif (output.confidence < 0.6) output.category = 'other';\nconst pricing = { 'claude-haiku-4-5':{i:1.0,o:5.0} };\nconst p = pricing[$json.model] || pricing['claude-haiku-4-5'];\nconst cost = ($json.usage.input_tokens*p.i + $json.usage.output_tokens*p.o) / 1_000_000;\nconst src = $node['Clean Body'].json;\nreturn [{ json: { parsed: output, usage: $json.usage, model: $json.model, cost_usd: cost, uid: src.uid, messageId: src.messageId, subject: src.subject, from: src.from } }];"
      }
    },
    {
      "id": "node-route",
      "name": "Route by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        1080,
        300
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-sales",
                    "leftValue": "={{ $json.parsed.category }}",
                    "rightValue": "sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "sales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-support",
                    "leftValue": "={{ $json.parsed.category }}",
                    "rightValue": "support",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-recruiting",
                    "leftValue": "={{ $json.parsed.category }}",
                    "rightValue": "recruiting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "recruiting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cond-billing",
                    "leftValue": "={{ $json.parsed.category }}",
                    "rightValue": "billing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "billing"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "node-slack",
      "name": "Slack — Route to Channel",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1300,
        300
      ],
      "parameters": {
        "url": "={{ $json.parsed.category === 'sales' ? $env.SLACK_WEBHOOK_SALES : $json.parsed.category === 'support' ? $env.SLACK_WEBHOOK_SUPPORT : $json.parsed.category === 'recruiting' ? $env.SLACK_WEBHOOK_RECRUITING : $json.parsed.category === 'billing' ? $env.SLACK_WEBHOOK_BILLING : $env.SLACK_WEBHOOK_OTHER }}",
        "method": "POST",
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({ blocks: [{ type: \"section\", text: { type: \"mrkdwn\", text: \"*[\" + $json.parsed.urgency.toUpperCase() + \"] \" + $json.subject + \"*\\nFrom: `\" + $json.from + \"`\\n\\n\" + $json.parsed.summary } }, { type: \"context\", elements: [{ type: \"mrkdwn\", text: \"category: \" + $json.parsed.category + \" · confidence: \" + $json.parsed.confidence }] }] }) }}",
        "specifyBody": "json"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    },
    {
      "id": "node-log-llm",
      "name": "Supabase — Insert llm_calls",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        480
      ],
      "parameters": {
        "url": "={{$env.SUPABASE_URL}}/rest/v1/llm_calls",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.SUPABASE_SERVICE_ROLE_KEY}}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={{ JSON.stringify({ workflow_id: \"email-classification\", workflow_run_id: $execution.id, model: $json.model, prompt_tokens: $json.usage.input_tokens, output_tokens: $json.usage.output_tokens, duration_ms: Date.now() - $('Clean Body').first().json._ts_start, cost_usd: $json.cost_usd, input: { messageId: $json.messageId, subject: $json.subject, from: $json.from }, output: $json.parsed, status: \"ok\" }) }}",
        "specifyBody": "json"
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000
    }
  ],
  "connections": {
    "IMAP — Poll Inbox": {
      "main": [
        [
          {
            "node": "Clean Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Body": {
      "main": [
        [
          {
            "node": "Anthropic — Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic — Classify": {
      "main": [
        [
          {
            "node": "Validate Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Classification": {
      "main": [
        [
          {
            "node": "Route by Category",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase — Insert llm_calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Category": {
      "main": [
        [
          {
            "node": "Slack — Route to Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack — Route to Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack — Route to Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack — Route to Channel",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack — Route to Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack — Route to Channel": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa"
  },
  "tags": []
}
